input[type="file"],input[type="text"],input[type="url"]{
    width:100%;
}


body,html{
    margin: 10px 20px 10px 20px;
}

h1{
    text-align:center;
    padding-bottom:10px;
    color:rgb(8, 8, 41);
    font-weight: 700px;
}
h1:hover{
    font-size: 30px;
    color:rgb(22, 9, 34);
}

input[type="file"]:hover  {
    height: 30px;
    color:rgb(19, 20, 87);
    font: weight 300px;

}
input[type="text"]:hover{
    height: 30px;
    color:rgb(19, 20, 87);
    font: weight 300px;
}

input[type="url"]:hover{
    height: 30px;
    color:rgb(19, 20, 87);
    font: weight 300px;
}